*
{
    background-color: transparent;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
}

html, body
{
    overflow: hidden;
}

h1
{
    text-align: left;
    font-weight: bold;
    font-size: 7em;
}
p{
    font-size: 2em;
    font-weight: 100;
    text-align: left;
}
p2{
    font-size: 2em;
    font-weight: 100;
    text-align: left;
}
h2
{
    font-weight: 100;
}

main
{
    position:absolute;
    margin: 1em; 
    max-width: 70vw; /*doesn't overflow, mobile responsiveness*/
    z-index: 0;
    background: transparent;
    color:white;

}

.webgl
{
    /* position: fixed;
    top: 0;
    left: 0; */
    position:absolute;
    z-index: -1;
    outline: none;
}


.socialicon{
    width:3em;
    height:3em;
    margin:0.5em;
}
.socialicon:hover{
    opacity:0.2;
} 
 
.bolded { font-weight: bold; }

img {
    -webkit-filter: invert(1);
    filter: invert(1);
}